.App {
  text-align: center;
}
.h1 {
  font-size: 54px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Một phần cho menu, bốn phần cho nội dung */
  gap: 20px; /* Khoảng trắng giữa menu và nội dung */
  height: 100vh; /* Chiều cao là 100% chiều cao của viewport */
  padding: 20px;
  background-color: white;
}

.menu {
  background-color:black  ; /* Màu nền của menu */
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 10;
  color: white
}

.menu li {
  margin-bottom: 10px;
  cursor: pointer;
}

.content {
  background-color: white; /* Màu nền của nội dung */
  padding: 20px;
  border: 1px solid #ddd; /* Viền của nội dung */
}

.p {
  text-align: center;
}

.textContent {
  padding: 10px 0;

}

.contentItem {
  flex-direction: row;
  display: flex;
}

.item {
  flex: 1;
}

.footer {
  position: absolute;
  bottom: 0;
}
.itemIn {
  flex-direction: row;
  display: flex;
}